@tailwind base;
@tailwind components;
@tailwind utilities;

.root {
  @apply max-w-large m-auto;
}

h1 {
  @apply text-2xl font-bold;
}

.btn-primary {
  @apply text-lg bg-yellow-600 p-2 rounded-lg shadow-lg;
}

body {
  @apply text-black;
}

table.basic {
  @apply w-full bg-white rounded-lg  shadow-md;
}

table.basic thead tr td {
  @apply text-sm text-gray-600 uppercase border-b border-gray-200 px-4 py-2;
}

table.basic tr td {
  @apply px-4 py-2 border;
}

table.basic a {
  @apply bg-gray-700 text-white text-sm py-1 rounded-sm px-2 inline-flex gap-1 mr-2;
}

.btn-cancel {
  @apply bg-red-200 p-1 rounded-md cursor-pointer;
}

.product-image {
  width: 60px; /* Adjust the size as needed */
  height: 50px;
  object-fit: cover;
}

.user-imgorder {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.scrollable-div {
  max-height: 1000px; /* Adjust the height as needed */
  overflow-y: auto;
  border: 1px solid #ddd;
  margin-top: 16px;
}

.paypal-button-container {
  width: 100% !important;
}

.paypal-button {
  width: 100% !important;
}
